.card {


    &__header {
        text-align: center;
        color:  hsl(228, 39%, 23%);
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
    }

    &__container {
       
    }
}

.person {
    display: flex;
    // width: 300px;
    overflow-x: auto;
    overflow-y: hidden;

    &__container {
        position: relative;
        background-color: pink;
        opacity: .85;
        margin-right: 3rem;
    }

    &__avatar {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateY(-50%);
    }

    &__name {

    }

    &__comment {

    }
}