.header {
    padding: 3rem 12rem;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 56.25em) {
        padding: 3rem 8rem;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    @media only screen and (max-width: 31.25em) {
        padding: 3rem;
    }
    

    &__left-section{
        padding-top: 5.2rem;

        
        @media only screen and (max-width: 56.25em) {
            text-align: center;   
            padding-top: 3rem;
        }
    }

    &__heading{
        color:  hsl(228, 39%, 23%);
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 2.5rem;
        max-width: 36rem;
    }
    
    
    &__paragraph{
        color: hsl(227, 12%, 61%);
        font-size: 1.3rem;
        margin-bottom: 2.5rem;
        max-width: 28rem;

        @media only screen and (max-width: 56.25em) {
            margin: 0 auto 2.5rem auto;
        }
    }

    &__right-section{
        max-width: 44rem;

    }

    &__image {
        width: 100%;
    }

}