.navbar {
    padding: 5rem 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {

    }

    &__items {
        display: flex;
    }

    &__item {
        list-style: none;

        &:not(:last-child) {
            margin-right: 2.5rem;
        }
    }

    &__links {
        text-decoration: none;
        color:  hsl(228, 39%, 23%);
        font-size: 1.3rem;
        font-weight: 500;
    }   
}