.swiper-container {
  margin: 6rem 1rem;
  max-width: 500px;
  height: 100%;
  overflow-x: clip;
  overflow-y: unset;
  display: none;

  @media only screen and (max-width: 37.5em) {
    display: block;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -20px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: inherit;
  opacity: 1;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(0.66);
  border: 2px solid hsl(12, 88%, 59%);
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: hsl(12, 88%, 59%);
  border: none;
}

.swiper__button {
    display: flex;
    margin: 0 auto;
    display: none;

        @media only screen and (max-width: 37.5em) {
            display: block;
        }
}
